div{
    width: 200px;
    padding: 5%;
    border: 3px solid black;
    margin: 50px auto;
    background-color: violet;
    
}


h1 {
    color: blue;
    background-color: black;
    text-decoration: underline;
    text-decoration-style: dotted;

}

p{
    color: aqua;
    
}