body{
    background-color: white;
    
}
.postcard{
    width: 500px;
    padding: 20px;
    position: relative;

}



#parrafo-principal{
    text-size-adjust: 16px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    padding: auto;
    text-align: left
    
}

.cuadro{

    text-align: right;
    position: relative;
}


.to-right{

   text-align: right;
}


#imagen{
      position: relative;
    }
#imagen{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 5%;
        bottom: 30%;
        text-align: center;
}

button{
    margin-top: 10px;
    padding: 10px;
}